 html,body {
  width:100%;
  height:100vw;
  padding:0;
  margin:0;
}

table {
  width:100%;
  height:100vw;
}

.square {
  width: 25vw;
  height: 25vw;
  text-align: center;
  font-size:6vw;
}
.positive {
  background-color: lightgrey;
}
.negative {
  background-color: grey;
}
.inConflict{
    background-color: red;
}
